@model IEnumerable<MNC.ViewModel.OrderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Item Name</th>
        <th>Item Quantity</th>
        <th>Item Amount</th>
        <th>Employee Name</th>
        <th>Customer Name</th>
        <th>Order Status</th>
        <th>Order Quantity</th>
        <th>Total Amount</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Item.Name</td>
        <td>@item.Item.Quantity</td>
        <td>@item.Item.Amount</td>
        <td>@item.Employee.Name</td>
        <td>@item.Customer.Name</td>
        <td>@item.Order.Status</td>
        <td>@item.Order.Quantity</td>
        <td>@(item.Order.Quantity * item.Item.Amount)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Order.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Order.Id })
        </td>
    </tr>
}

</table>
